<div class="col-md-3 col-sm-6 mb-5">
    <div class="d-flex flex-column align-items-center">
        
        <div class="record-player-container mb-3">
            <div class="record" id="record-{{ song.id }}" style="background-image: url('{{ song.cover_image.url }}');"></div>
            
            <div class="center-hole"></div>

            <button class="play-btn-center" data-song-id="{{ song.id }}">
                <i class="fas fa-play"></i>
            </button>

            <audio id="audio-{{ song.id }}" preload="none">
                <source src="{{ song.audio_file.url }}" type="audio/mpeg">
            </audio>
        </div>

        <div class="text-center w-100 px-2">
            <a href="{% url 'song_detail' song.id %}" class="text-decoration-none text-white">
                <h5 class="fw-bold text-truncate mb-1 hover-link" title="{{ song.title }}">{{ song.title }}</h5>
            </a>
            <p class="text-secondary small mb-1">{{ song.artist }}</p>
            
            <p class="text-muted small mb-3" style="font-size: 0.8rem;">
                Subido por: 
                <a href="{% url 'public_profile' song.uploader.username %}" class="text-decoration-none text-info fw-bold hover-link">
                    {{ song.uploader.username }}
                </a>
            </p>

            <div class="d-flex justify-content-center gap-2 align-items-center">
                <span class="badge bg-dark border border-secondary rounded-pill text-light">
                    {{ song.genre.name }}
                </span>
                
                {% if song.bpm %}
                    <span class="badge bg-black border border-secondary text-info" title="Velocidad detectada por IA">
                        <i class="fas fa-tachometer-alt me-1"></i>{{ song.bpm }}
                    </span>
                {% endif %}
                
                <button class="btn btn-sm rounded-circle btn-favorite p-0 border-0" ... >
                   </button>
            </div>
        </div>
    </div>
</div>